<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
	<add key="GGProcessName" value="GuiltyGearXrd" />

	<add key="AswEnginePtr" value="0x0198B6E4" />
	<add key="Player1Offset" value="0x169814" />
	<add key="Player2Offset" value="0x1969AC"/>
	<add key="FrameCountOffset" value="0x1C6F70" />
	
	<add key="CharIndexOffset" value="0x44"/>
	<add key="BlockstunOffset" value="0x4D54"/>
	<add key="HitstunOffset" value="0x9808"/>
	<add key="HPOffset" value="0x9CC"/>
	<add key="AnimStringOffset" value="0x2444" />
	<add key="StunOffset" value="0x9FC4"/>
	<add key="RISCOffset" value="0x24E30"/>
	<add key="MeterOffset" value="0x2D134"/>
	<add key="PositionXOffset" value="0x24C"/>
	<add key="PositionYOffset" value="0x250"/>
	<add key="PositionOffset" value="0x2AD0C"/>
	<add key="HitstopOffset" value="0x1AC"/>
	<add key="Flags0x4d3cOffset" value="0x4D3C"/>
	<add key="Flags0x4d48Offset" value="0x4D48"/>
	<add key="DefenseModifierOffset" value="0x9874"/>
	<add key="ForceDisableFlagsOffset" value="0x24E3C"/>

	<add key="GithubPage" value="https://github.com/PCvolt/rev2-Labtool"/>
  </appSettings>
</configuration>